/* your styles go here */

.vertical-video iframe {
    height: 540px;
    width: 400px;
    margin: 0 auto;
    display: block;
    border: 0;
    overflow: hidden;
}

@media (max-width: 400px) {
    .vertical-video iframe {
        height: 270px;
        width: 200px;
        margin: 0 auto;
        display: block;
        border: 0;
        overflow: hidden;
    }
  }
