/* your styles go here */

.vertical-video iframe {
    height: 540px;
    width: 400px;
    margin: 0 auto;
    display: block;
    border: 0;
    overflow: hidden;
}

@media (max-width: 400px) {
    .vertical-video iframe {
        height: 270px;
        width: 200px;
        margin: 0 auto;
        display: block;
        border: 0;
        overflow: hidden;
    }
  }


.tagbox a{
    color: rgb(24, 148, 96);
    font-size: smaller;
    text-transform: lowercase;
    border: 1px solid rgb(159, 196, 154);
    padding: 3px;
    font-style: italic;
    
}