/* your styles go here */

.vertical-video iframe {
    height: 540px;
    width: 400px;
    margin: 0 auto;
    display: block;
    border: 0;
    overflow: hidden;
}

@media (max-width: 400px) {
    .vertical-video iframe {
        height: 270px;
        width: 200px;
        margin: 0 auto;
        display: block;
        border: 0;
        overflow: hidden;
    }
  }

.video-shortcode {
    max-width: 100%;
    height: auto;
}

.tagbox a{
    color: rgb(24, 148, 96);
    font-size: smaller;
    text-transform: lowercase;
    border: 1px solid rgb(159, 196, 154);
    padding: 3px;
    font-style: italic;   
}

#date {
    color: rgb(0, 0, 0);
    font-size: large;
    text-transform: lowercase;
    border: 0px solid black;
    padding: 3px;
    font-style: normal;
}

/* IMAGE */

.image {
    border: 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

    .image img {
        display: block;
    }

    .image.left, .image.right {
        max-width: 40%;
    }

        .image.left img, .image.right img {
            width: 100%;
        }

    .image.left {
        float: left;
        margin: 0 2rem 2rem 0;
        top: 0.75rem;
    }

    .image.right {
        float: right;
        margin: 0 0 2rem 2rem;
        top: 0.75rem;
    }

    .image.fit {
        display: block;
        margin: 2.5rem 0;
        width: 100%;
    }

        .image.fit:first-child {
            margin-top: 0;
        }

        .image.fit img {
            width: 100%;
        }

    .image.main {
        display: block;
        margin: 0rem 0;
        width: 100%;
    }

        .image.main:first-child {
            margin-top: 0;
        }

        .image.main img {
            width: 100%;
        }

    @media screen and (max-width: 736px) {

        .image.fit {
            margin: 0rem 0;
        }

        .image.main {
            margin: 0rem 0;
        }

    }


    .image.main img {
        -moz-transition: -moz-transform 1.5s ease-out;
        -webkit-transition: -webkit-transform 1.5s ease-out;
        -ms-transition: -ms-transform 1.5s ease-out;
        transition: transform 1.5s ease-out;
    }

    .image.main:hover img {
        -moz-transform: scale(1.125, 1.25);
        -webkit-transform: scale(1.125, 1.25);
        -ms-transform: scale(1.125, 1.25);
        transform: scale(1.125, 1.25);

        -webkit-transition: transform 1.05s ease-in-out;
        -moz-transition:transform 1.05s ease-in-out;
        -ms-transition:transform 1.05s ease-in-out;
    }